@import "~bootstrap/scss/bootstrap";
@import "./shame.css";
@import "./borders.css";

:root {
    --black : #222
}

* {
    color: var(--black)
}

ul {
    list-style: none;
}

a:hover, a:link, a:active, a:visited {
    color: black;
    text-decoration: none;
}